[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    node_modules,
    .idea
# W191: indentation contains tabs
# E101: indentation contains mixed spaces and tabs
# E117: over-indented
ignore = E203, E266, E501, W503, W191, E101, E117
max-complexity = 10

[isort]
profile = black
line_length = 120
skip = migrations,.venv,venv,node_modules

[coverage:run]
omit = 
    */tests/*
    */migrations/*
    */venv/*
    */.venv/*
    */node_modules/*
